/*
Color Scheme
Very light blue - dbe9ee
Light blue - c0d6df
Dull blue - 4f6d7a
Blue - 4a6fa5
*/

body {
    background-color:#dbe9ee;
}

.mbiframe {
    border:none;
    width:100%;
    height:62px;
}