/*
Color Scheme
Very light blue - dbe9ee
Light blue - c0d6df
Dull blue - 4f6d7a
Blue - 4a6fa5
*/

body {
    background-color:#dbe9ee;
    font-family: Arial;
    font-size: 18px;
}

.mbiframe {
    border:none;
    width:100%;
    height:77px;
}

.cpdtitle {text-align:center;transition: 5s;}
.cpdtitle:hover {color:#63c7db;}
.content {padding: 20px;}

.tabs {border: 1px solid #ccc;background-color:#f1f1f1;overflow:auto;white-space:nowrap;cursor:default;}
.tabs button, .tabs span {
    background-color: inherit;
    border: none;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    display:inline-block;
}
.tabs button {cursor:pointer;}
.tabs button:hover {background-color: #ddd;}
.tabs button.active {background-color: #ccc;}
.tabs span {cursor:default;}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

a {text-decoration: none;color: #4a6fa5;}
a:visited {color: #4a6fa5;}
h2 {margin-top: 0px; padding:0px}

.cb {
    cursor: pointer;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .1s ease-in-out;
    padding-left:10px;
    padding-right:10px;
    border: 2px solid #a9bcc4;
    border-radius: 10px;
    display:inline-block;
}
.cb:hover {
    color: #4a6fa5;
}
.cb:active {
    transition: all 0s ease-in-out;
    color: yellow;
    background-color: lightgray;
}

.bkmk {font-size:20px;}

div.monoblock, div.divblock, div.bgblock, div.navdiv {display:inline-block;white-space:pre;margin:0.4rem;padding:0.4rem;vertical-align:middle;}
.monoblock {font-family:monospace;}
.divblock {font-family:Arial;}
.bgblock {background-color:#ddd;border:2px solid #a9bcc4;}
.bgblock a {padding-left:20px;padding-right:20px;}
.col a {padding-left:20px;padding-right:20px;}
.colcontainer {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.col {
    background-color:#ddd;
    display: table-cell;
    padding: 16px;
    border:2px solid #a9bcc4;
    font-size:25px;
    white-space:pre;margin:0.4rem;padding:0.4rem;vertical-align:top;
}
@media only screen and (max-width: 850px) {
    .col {
      display: block;
      width: 95.5%;
    }
  }
.inline {display:inline-block;}
.seealso {display:inline-block;padding-left: 20px;}

img {vertical-align:middle;}
button, input[type=button], .button {
    background-color:#f1f1f1;
    font-size:20px;
    transition:0.3s;
    padding:7px;
    border:2px solid #a9bcc4;
    border-radius: 13px;
    cursor:pointer;
}
button:hover, input[type=button]:hover, .button:hover {background-color: #ddd;}
button:active, input[type=button]:active, .button:active {background-color: #a9bcc4;}

input[type=text] {
    font-size:18px;
    vertical-align: middle;
}
select {background-color: #f1f1f1;}