/*
Color Scheme
Very light blue - dbe9ee
Light blue - c0d6df
Dull blue - 4f6d7a
Blue - 0066ff
*/

body {
    background-color:#85979e;
    font-family: Arial;
    font-size: 18px;
    color: #00202a;
}

.mbiframe {
    border:none;
    width:100%;
    height:77px;
}
.ftiframe {
    border:none;
    width:100%;
}

.cpdtitle {text-align:center;transition: 5s;}
.cpdtitle:hover {color:#63c7db;}
.content {padding: 20px;}

.tabs {border: 1px solid #9c9c9c;background-color:#adadad;overflow:auto;white-space:nowrap;cursor:default;}
.tabs button, .tabs span {
    background-color: inherit;
    border: none;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    display:inline-block;
}
.tabs button {cursor:pointer;}
.tabs button:hover {background-color: #a6a6a6;}
.tabs button.active {background-color: #9c9c9c;}
.tabs span {cursor:default;}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #9c9c9c;
    border-top: none;
}

a {text-decoration: none;color: #201cff;}
a:visited {color:#201cff;}
a:active {color:#5452ff;}
h2 {margin-top: 0px; padding:0px}

.cb {
    cursor: pointer;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .1s ease-in-out;
    padding-left:10px;
    padding-right:10px;
    border: 2px solid #646e73;
    border-radius: 10px;
    display:inline-block;
    background-color:#adadad;
}
.cb:hover {
    color: #0066ff;
}
.cb:active {
    transition: all 0s ease-in-out;
    color: yellow;
    background-color:#646e73;
}

.bkmk {font-size:20px;}

div.monoblock, div.divblock, div.bgblock, div.navdiv, div.artblock, div.tinyblock {display:inline-block;white-space:pre-wrap;margin:0.4rem;padding:0.4rem;vertical-align:middle;}
.monoblock {font-family:monospace;}
.divblock {font-family:Arial;}
.artblock {font-family:Arial;line-height:130%;}
.tinyblock {font-family:Arial;line-height:130%;font-size:10px;cursor:text;}
.bgblock {background-color:#a6a6a6;border:2px solid #a9bcc4;}
.bgblock a {padding-left:20px;padding-right:20px;}
.col a {padding-left:20px;padding-right:20px;color:#201cff;}
.col a:visited {color:#201cff;}
.col a:active {color:#6966ff;}
.colcontainer {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.col {
    background-color:#a6a6a6;
    display: table-cell;
    padding: 16px;
    border:2px solid #a9bcc4;
    font-size:25px;
    white-space:pre;margin:0.4rem;padding:0.4rem;vertical-align:top;
}
@media only screen and (max-width: 850px) {
    .col {
      display: block;
      width: 95.5%;
    }
  }
.inline {display:inline-block;}
.seealso {display:inline-block;padding-left: 20px;}

img {vertical-align:middle;}
button, input[type=button], .button {
    background-color:#adadad;
    font-size:20px;
    transition:0.3s;
    padding:7px;
    border:2px solid #646e73;
    border-radius: 13px;
    cursor:pointer;
    display:inline-block;
    white-space: nowrap;
}
button:hover, input[type=button]:hover, .button:hover {background-color: #a6a6a6;}
button:active, input[type=button]:active, .button:active {background-color: #a9bcc4;}

input[type=text] {
    font-size:18px;
    vertical-align: middle;
    border:2px solid #646e73;border-radius: 13px;
    padding:5px;
    background-color:#e3e3e3;
}
select {background-color: #e3e3e3;display:inline-block;}
textarea {border:2px solid #646e73;border-radius: 13px;background-color:#e3e3e3;}